/* цвет фона #E5E5E5 
вторичный цвет фона  #F5F4FA
 */

/* цвет текста #212121 
вторичный цвет текста #757575*/

/* акцент #2196F3 
лого #000000*/

/* футер контакты rgba(255, 255, 255, 0.6); */

:root {
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --light-text-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --filter-color: #f5f4fa;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Contacts */

.contacts-item {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--light-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--light-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Advantages */

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.advantage-descr {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Services */

.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Team */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-member-position {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03;
}

/* Footer */

.footer-section {
  background-color: var(--secondary-background-color);
}

.footer-section.logo {
  color: var(--light-text-color);
}

.location {
  color: var(--light-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: inherit;
}

.footer-contacts {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: inherit;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* Portfolio */

.filter-button {
  background-color: var(--filter-color);
  color: var(--main-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.project-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-descr {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
